<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- Google fonts -->
			<!-- link href='https://fonts.googleapis.com/css?family=Neuton' rel='stylesheet' -->
			<!-- link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' -->
			<!-- link href='https://fonts.googleapis.com/css?family=Source Serif Pro' rel='stylesheet' -->
			<!-- link href='https://fonts.googleapis.com/css?family=Source Sans Pro' rel='stylesheet'-- >
			<!-- link href='https://fonts.googleapis.com/css?family=Cormorant Garamond' rel='stylesheet' -->
			<link href='https://fonts.googleapis.com/css?family=Sura' rel='stylesheet'>
			<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<!-- MathJax -->
			{% if page.use_math %}
				{% include mathjax_support %}
				{% endif %}
		</head>
		<body>
			<div class="container">

			{{ content }}

			</div>
			<!--<footer>

			</footer>-->
		</body>
	</html>
